# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/
*.swp
